<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FORMULARIOS CARDS</title>
</head>
<body>
<div class="background" style="margin-top: 50px" th:fragment="form-card (type, object,array)">
    <div class="container">
        <div class="screen">
            <div class="screen-body">
                <div class="screen-body-item">
                    <div class="app-form">

                        <div th:if="${type} == 'factura-create'">
                            <!-- FORM FACTURA CREATE -->
                            <form th:action="@{/factura/save}" method="POST" th:object="${object}">
                                <div th:replace="formularis/factura :: factura-field ('CREATE')"></div>
                                <div class="app-form-group buttons">
                                    <button class="app-form-button"><a href="/">RETURN</a></button>
                                    <input type="submit" class="app-form-button" value="CREATE"/>
                                </div>
                            </form>
                        </div>

                        <div th:if="${type} == 'factura-update'">
                            <!-- FORM FACTURA UPDATE -->
                            <form th:action="@{/factura/put}" method="POST" th:object="${object}">
                                <div th:replace="formularis/factura :: factura-field ('UPDATE')"></div>
                                <div class="app-form-group buttons">
                                    <button class="app-form-button"><a href="/">RETURN</a></button>
                                    <input type="submit" class="app-form-button" value="UPDATE"/>
                                </div>
                            </form>
                        </div>

                        <div th:if="${type} == 'membresia-create'">
                            <!-- FORM MEMBRESIA CREATE -->
                            <form th:action="@{/membresia/save}" method="POST" th:object="${object}">
                                <div th:replace="formularis/membresia :: membresia-field ('CREATE',${array})"></div>
                                <div class="app-form-group buttons">
                                    <button class="app-form-button"><a href="/">RETURN</a></button>
                                    <input type="submit" class="app-form-button" value="CREATE"/>
                                </div>
                            </form>
                        </div>

                        <div th:if="${type} == 'membresia-update'">
                            <!-- FORM MEMBRESIA UPDATE -->
                            <form th:action="@{/membresia/put}" method="POST" th:object="${object}">
                                <div th:replace="formularis/membresia :: membresia-field ('UPDATE',${array})"></div>
                                <div class="app-form-group buttons">
                                    <button class="app-form-button"><a href="/">RETURN</a></button>
                                    <input type="submit" class="app-form-button" value="UPDATE"/>
                                </div>
                            </form>
                        </div>


                        <div th:if="${type} == 'localidad-create'">
                            <!-- FORM LOCALIDAD CREATE -->
                            <form th:action="@{/localidad/save}" method="POST" th:object="${object}">
                                <div th:replace="formularis/localidad :: localidad-field ('CREATE')"></div>
                                <div class="app-form-group buttons">
                                    <button class="app-form-button"><a href="/">RETURN</a></button>
                                    <input type="submit" class="app-form-button" value="CREATE"/>
                                </div>
                            </form>
                        </div>

                        <div th:if="${type} == 'localidad-update'">
                            <!-- FORM LOCALIDAD UPDATE -->
                            <form th:action="@{/localidad/put}" method="POST" th:object="${object}">
                                <div th:replace="formularis/localidad :: localidad-field ('UPDATE')"></div>
                                <div class="app-form-group buttons">
                                    <button class="app-form-button"><a href="/">RETURN</a></button>
                                    <input type="submit" class="app-form-button" value="UPDATE"/>
                                </div>
                            </form>
                        </div>


                        <div th:if="${type} == 'useracount-create'">
                            <!-- FORM LOCALIDAD CREATE -->
                            <form th:action="@{/user/save}" method="POST" th:object="${object}">
                                <div th:replace="formularis/useracount :: useracount-field ('CREATE')"></div>
                                <div class="app-form-group buttons">
                                    <button class="app-form-button"><a href="/">RETURN</a></button>
                                    <input type="submit" class="app-form-button" value="CREATE"/>
                                </div>
                            </form>
                        </div>

                        <div th:if="${type} == 'useracount-update'">
                            <!-- FORM LOCALIDAD UPDATE -->
                            <form th:action="@{/user/put}" method="POST" th:object="${object}">
                                <div th:replace="formularis/useracount :: useracount-field ('UPDATE')"></div>
                                <div class="app-form-group buttons">
                                    <button class="app-form-button"><a href="/">RETURN</a></button>
                                    <input type="submit" class="app-form-button" value="UPDATE"/>
                                </div>
                            </form>
                        </div>


                        <div th:if="${type} == 'restaurant-create'">
                            <!-- FORM RESTAURANT CREATE -->
                            <form th:action="@{/restaurant/save}" method="POST" th:object="${object}">
                                <div th:replace="formularis/restaurant :: restaurant-field ('CREATE')"></div>
                                <div class="app-form-group buttons">
                                    <button class="app-form-button"><a href="/">RETURN</a></button>
                                    <input type="submit" class="app-form-button" value="CREATE"/>
                                </div>
                            </form>
                        </div>

                        <div th:if="${type} == 'restaurant-update'">
                            <!-- FORM RESTAURANT UPDATE -->
                            <form th:action="@{/restaurant/put}" method="POST" th:object="${object}">
                                <div th:replace="formularis/restaurant :: restaurant-field ('UPDATE')"></div>
                                <div class="app-form-group buttons">
                                    <button class="app-form-button"><a href="/">RETURN</a></button>
                                    <input type="submit" class="app-form-button" value="UPDATE"/>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>