<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MEMBRESIA FORMULARIO</title>
</head>
<body>
<div th:fragment="membresia-field (type,object,facturas)">
    <h3 style="color: white; font-size: medium; text-align: center" th:text="${type}"></h3>
    <div th:unless="${object!=null}">
        <div class="app-form-group" style="display: flex; flex-direction: row; justify-content: center;">
            <label th:if="${type=='CREATE'}">
                <input id="id_membresia" name="id_membresia" type="hidden" readonly>
            </label>
            <label th:unless="${type=='CREATE'}">
                <input id="id_membresia" name="id_membresia" min="0" autocomplete=“off” class="app-form-control" style="text-align: center" placeholder="ID MEMBRESIA" required readonly>
            </label>
        </div>
        <div class="app-form-group message">
            <label>
                <p style="color: white">Fecha Inicio</p>
                <input  id="fecha_inicio" name="fecha_inicio" type="datetime-local" class="app-form-control" required>
            </label>
        </div>
        <div class="app-form-group">
            <label>
                <p style="color: white">Fecha Fin</p>
                <input id="fecha_fin" name="fecha_fin" type="datetime-local" class="app-form-control" required>
            </label>
        </div>
        <div class="app-form-group">
            <label th:if="facturas!=null">
                <p style="color: white">Num Factura</p>
                <select  id="num_factura" name="num_factura">
                    <option th:each="factura : ${facturas}" th:value="${factura.num_factura}" th:text="${factura.num_factura}"></option>
                </select>
                <p style="color: white">or <a href="/factura/create">create</a> one</p>
            </label>
        </div>
    </div>

    <div th:if="${object!=null}">
        <div class="app-form-group" style="display: flex; flex-direction: row; justify-content: center;">
            <label th:if="${type=='CREATE'}">
                <input th:value="${object.id_membresia}" id="id_membresia" name="id_membresia" type="hidden">
            </label>
            <label th:unless="${type=='CREATE'}">
                <input th:value="${object.id_membresia}" id="id_membresia" name="id_membresia" min="0" autocomplete=“off” class="app-form-control" style="text-align: center" placeholder="ID MEMBRESIA" required readonly>
            </label>
        </div>
        <div class="app-form-group message">
            <label>
                <p style="color: white">Fecha Inicio</p>
                <input th:value="${object.fecha_inicio}" id="fecha_inicio" name="fecha_inicio" type="datetime-local" class="app-form-control" required>
            </label>
        </div>
        <div class="app-form-group">
            <label>
                <p style="color: white">Fecha Fin</p>
                <input th:value="${object.fecha_fin}" id="fecha_fin" name="fecha_fin" type="datetime-local" class="app-form-control" required>
            </label>
        </div>
        <label th:if="facturas!=null">
            <p style="color: white">Num Factura</p>
            <select  id="num_factura" name="num_factura">
                <option th:each="factura : ${facturas}" th:value="${factura.num_factura}" th:text="${factura.num_factura}">
            </select>
            <p style="color: white">or <a href="/factura/create">create</a> one</p>
        </label>
    </div>
</div>
</body>
</html>