<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RESTAURANT FORMULARI</title>
</head>
<body>
<div th:fragment="restaurant-field (type, array)">
  <h3 style="color: white; font-size: medium; text-align: center" th:text="${type}"></h3>
  <div class="app-form-group" style="display: flex; flex-direction: row; justify-content: center;">
    <label th:if="${type=='CREATE'}">
      <input th:field="*{id_restaurante}" type="hidden" class="app-form-control" style="text-align: center" required>
    </label>
    <label th:unless="${type=='CREATE'}">
      <input th:field="*{id_restaurante}" class="app-form-control" style="text-align: center" required readonly>
    </label>
  </div>
  <div class="app-form-group" style="display: flex; flex-direction: row; justify-content: center;">
    <label style="width: 70%; margin-bottom: 15px">
      <p style="color: white">Nombre</p>
      <input th:field="*{nombre}" type="text" maxlength="40" class="app-form-control" autocomplete="off" placeholder="NOMBRE RESTAURANTE" required>
    </label>
  </div>
  <div class="app-form-group">
    <label>
      <p style="color: white">Dias anticipacion reservas</p>
      <input th:field="*{dies_anticipacion_reservas}" type="number" oninput="this.value = Math.abs(this.value)" class="app-form-control" placeholder="DIAS ANTICIPACION RESERVAS" required>
    </label>
  </div>
  <div class="app-form-group">
    <label>
      <p style="color: white">Telefono</p>
      <input th:field="*{telefono_restaurante}" type="number" min="9" oninput="this.value = Math.abs(this.value)" class="app-form-control" placeholder="DIAS ANTICIPACION RESERVAS" required>
    </label>
  </div>
  <div class="app-form-group">
    <label>
      <p style="color: white">Validated</p>
      <select th:field="*{validated}">
        <option th:value="1">true</option>
        <option th:value="0">false</option>
      </select>
    </label>
  </div>
  <label th:if="${array[0]}!=null">
    <p style="color: white">Localidad</p>
    <select th:field="*{localidad}">
      <option th:each="localidad : ${array[0]}" th:value="${localidad.id_localidad}" th:text="${localidad.nombre_localidad}">
    </select>
    <p style="color: white">or <a style="color: green" href="/localidad/create">create</a> one</p>
  </label>
  <label th:if="${array[0]}!=null">
    <p style="color: white">Membresia</p>
    <select th:field="*{membresia}">
      <option th:each="membresia : ${array[1]}" th:value="${membresia.id_membresia}" th:text="${membresia.id_membresia}">
    </select>
    <p style="color: white">or <a style="color: green" href="/membresia/create">create</a> one</p>
  </label>
  <label th:if="${array[0]}!=null">
    <p style="color: white">User</p>
    <select th:field="*{useracount}">
      <option th:each="useracount : ${array[2]}" th:value="${useracount.id_user}" th:text="${useracount.nombre_usuario}">
    </select>
    <p style="color: white">or <a style="color: green" href="/user/create">create</a> one</p>
  </label>
  <div class="app-form-group">
    <label>
      <p style="color: white">Visible</p>
      <select th:field="*{visible}">
        <option th:value="1">true</option>
        <option th:value="0">false</option>
      </select>
    </label>
  </div>
</div>
</body>
</html>