<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOCALIDAD</title>
</head>
<body>
<!-- ALL LOCALIDAD  -->
<table th:fragment="thead">
    <thead>
    <tr class="row100 head">
        <th class="column-width10 first-column">idLocalidad</th>
        <th class="column-width20">nombreLocalidad</th>
        <th class="column-width20">codigoPostal</th>
        <th class="column-width10">Create</th>
        <th class="column-width10">Update</th>
        <th class="column-width10">Read</th>
        <th class="column-width10">Delete</th>
    </tr>
    </thead>
</table>

<div th:fragment="tbody-compose (localidades)">
    <table>
        <tbody>
        <tr class="row100 body" th:each="localidad : ${localidades}" th:include="tables/columns/localidad :: body-rows(${localidad})">
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="tbody-single(localidad)">
    <table>
        <tbody>
        <tr class="row100 body" th:include="tables/columns/localidad :: body-rows(${localidad})">
        </tr>
        </tbody>
    </table>
</div>


<tr class="body" th:fragment="body-rows(localidad)">
    <td class="column-width10 first-column" th:text="${localidad.id_localidad}"></td>
    <td class="column-width20" th:text="${localidad.nombre_localidad}"></td>
    <td class="column-width20" th:text="${localidad.codigo_postal}"></td>
    <td class="column-width10"><a href="/localidad/create" class="create-column">Create</a></td>
    <td class="column-width10"><a th:href="@{'/localidad/update/' + ${localidad.id_localidad}}" class="update-column">Update</a></td>
    <td class="column-width10"><a th:href="@{'/localidad/' + ${localidad.id_localidad}}" class="read-column">Read</a></td>
    <td class="column-width10"><a th:href="@{'/localidad/delete/' + ${localidad.id_localidad}}" class="delete-column">Delete</a></td>
</tr>

</body>
</html>